
.title{
    text-align: center;
}

ul {
    list-style: none;
}

/* Accordion header color change on click */
.accordion-button:not(.collapsed) {
    color: #000000;
    background-color: #daee90;
    box-shadow: inset 0 -1px 0 rgb(0 0 0 / 13%);
}

.card-header {
    background-color: #f8f9fa;
}

form label {
    font-weight: bold;
}

.mission-header {
  position: fixed;
  top: 95;
  z-index: 999;
  padding-top: 1rem;
  text-align: center;
  border-top: 10px white;
  background-color: #f8f9fa;
}

.list-position {
    padding-top: 150px;
}
