@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600&display=swap');
@import 'bootstrap/dist/css/bootstrap.min.css';

/* Base Styles */
* {
    font-family: 'Montserrat',  sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Colors Theme */
.gradient-custom {
    /* fallback for old browsers */
    background: #494949;
  
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgba(73, 73, 73, 1), rgba(173, 181, 70, 1));
  
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(73, 73, 73, 1), rgba(173, 181, 70, 1))
}
.bg-dkGray {
    background-color: #494949;
}
.bg-ltGray {
    background-color: #a7a7a7;
}
.bg-green {
    background-color: #adb546;
}